<div class="calc-page">
  <div class="calc-container">
    <div class="calc-panel">
      <div class="calc-panel-inner">
        <div class="calc-section">
          <div class="calc-grid">
            <%= render "user/calculations/credits" %>
            <%= render "user/calculations/salary_calculators" %>
            <%= render "user/calculations/author_fee_calculators" %>
            <%= render "user/calculations/service_contract_calculators" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
