<% content_for :links do %>
  <%= raw([
    {title: t("admin_nav.city_tax_rates"), url: "javascript:void(0);"},
    {title: t("new_record"), url: "javascript:void(0);"},
  ].to_json) %>
<% end %>

<div class="page-wrapper">
  <div class="page-page">
    <div class="page-page__title">
      <h1><%= t("admin_nav.city_tax_rates") %></h1>
    </div>
  </div>

  <div class="max-w-2xl pt-6">
    <%= render 'admin/city_tax_rates/form' %>
  </div>
</div>

