<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% object.errors.messages.each do |message| %>
        <li><%= message[1][0] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
