<h2 class="mb-2 font-medium h5 text-primary-600"> <%= t("calculators.#{step}.title") %> </h2>

<div class=" my-4 bg-secondary-50 p-4 mb-6 rounded-lg">
  <p class="text-base text-secondary-800 font-normal"> <%= raw(t("calculators.#{step}.description")) %> </p>
</div>
