<h3 class="footer-title"><%= t("public_nav.legal_pages") %></h3>
<ul role="list" class="footer-list">
  <% @legal_pages.each do |legal_page| %>
    <li class="pr-6"> 
      <%= link_to legal_page_path(legal_page), class: "footer-link" do %>
        <%= legal_page.translate.title %> 
      <% end %>
    </li>
  <% end %>
  <li class="pr-6"> 
    <a href="https://github.com/rubocop/rubocop-rails">
      <img src="https://img.shields.io/badge/code_style-rubocop-brightgreen.svg" alt="Rails Style Guide">
    </a>
  </li>

  <li class="pr-6"> 
    <a href="https://rails.rubystyle.guide">
      <img src="https://img.shields.io/badge/code_style-community-brightgreen.svg" alt="Rails Style Guide">
    </a>
  </li>
</ul>
