<div class="page">
  <div class="featured-section">
    <div class="mb-16">
      <div class="content-wrapper">
        <h2 class="featured-title"> <%= @legal_page.translate.title %> </h2>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <section class="section">
      <div class="section-inner">
        <div class="content-wrapper">
          <div class="content">
            <%= raw @legal_page.translate.content %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
